*,*::before,*::after{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.5rem;
    background-color: hsl(185, 75%, 39%);
    //background-image: url(/images/bg-pattern-top.svg);
    background-image: url(/images/bg-pattern-bottom.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.attribution { 
    border: 1px red;
    border-style: solid;
    text-align: center; 
    a {
        color: hsl(228, 45%, 44%); 
    }
}